SUBSYSTEM!="usb_device", ACTION!="add", GOTO="sfr_rules_end"

# 16d1:0400 : SFR400
SUBSYSTEM=="usb", ATTR{idVendor}=="16d1", ATTR{idProduct}=="0400", MODE:="0666"

# 16d1:0402 : SFR402
SUBSYSTEM=="usb", ATTR{idVendor}=="16d1", ATTR{idProduct}=="0402", MODE:="0666"

# SFR-410 BioMini OC4
# 16d1:0406 : SFR410
SUBSYSTEM=="usb", ATTR{idVendor}=="16d1", ATTR{idProduct}=="0406", MODE:="0666"

# SFR-600 BioMini SLIM
# 16d1:0407 : SFR600
SUBSYSTEM=="usb", ATTR{idVendor}=="16d1", ATTR{idProduct}=="0407", MODE:="0666"

# SFR-550 BioMini Plus2
# 16d1:0407 : SFR550
SUBSYSTEM=="usb", ATTR{idVendor}=="16d1", ATTR{idProduct}=="0409", MODE:="0666"

# SFR-400 BioMini
# 16d1:0401 : Default SFR400. Need fxload to download the real firmware
SUBSYSTEM=="usb", ACTION=="add", ATTR{idVendor}=="16d1", ATTR{idProduct}=="0401", RUN="/sbin/fxload -t fx2 -I /usr/share/usb/SFR400.hex -D $env{DEVNAME}"

# SFR-500 BioMini PLUS
# 16d1:0403 : Default SFR500. Need fxload to download the real firmware
SUBSYSTEM=="usb", ACTION=="add", ATTR{idVendor}=="16d1", ATTR{idProduct}=="0403", RUN="/sbin/fxload -t fx2 -I /usr/share/usb/SFR500.hex -D $env{DEVNAME}"

# SFR-550 BioMini PLUS2
# 16d1:0409 : SFR550
SUBSYSTEM=="usb", ATTR{idVendor}=="16d1", ATTR{idProduct}=="0409", MODE:="0666"

LABEL="sfr_rules_end"
